<%-include('partials/_head.ejs')%>

<body class="loading" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <%-include('partials/_nav.ejs')  %>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <%-include('partials/_sideBar.ejs')%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page" id="cadastroVeiculo">
            <form class="content" method="post" action="/painel/contrato/cadastro">

                <!-- Start Content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title"> Cadastro de contrato</h4>
                                <%-include('partials/_msg-sucesso.ejs')%>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 com-xm-12">
                                    <div class="form-group">
                                        <label for="">Número</label>
                                        <input type="text" class="form-control" name="numero">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 com-xm-12">
                                    <div class="form-group">
                                        <label for="">Orgão</label>
                                        <input type="text" class="form-control" name="orgao">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 com-xm-12">
                                    <div class="form-group">
                                        <label for="">Empenho</label>
                                        <input type="text" class="form-control" name="empenho">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 com-xm-12">
                                    <div class="form-group">
                                        <label for="">Edital</label>
                                        <input type="text" class="form-control" name="edital">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 com-xm-12">
                                    <div class="form-group">
                                        <label for="">Processo</label>
                                        <input type="text" class="form-control" name="processo">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 com-xm-12">
                                    <div class="form-group">
                                        <label for="">Cidade</label>
                                        <select name="cidade" id="" class="form-control">
                                            <option value="" selected disabled>Selecione uma cidade</option>
                                            <%cidades.forEach(cidade=>{ %>
                                                <option value="<%=cidade.nome%>"><%=cidade.nome%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Contratante</label>
                                        <input type="text" class="form-control" name="contratante">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Inicio</label>
                                        <input type="text" class="form-control" name="inicio" id="inicioContrato" data-toggle="input-mask" data-mask-format="00-0000" placeholder="mes-ano">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Criar cidade</label>
                                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#criarCidade">+</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Status</label>
                                        <select name="status" id="" class="form-control">
                                            <option value="" selected disabled>Selecione um status</option>
                                            <option value="Ativo">Ativo</option>
                                            <!-- <option value="Prorrogado">Prorrogado</option>
                                            <option value="Encerrado">Encerrado</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Duração de contrato</label>
                                        <input type="text" class="form-control" name="termino" id="valorCompra" placeholder="Qunatidade de meses">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-success" value="Cadastar Contrato" id="cadCon">
                        </div>
                    </div>
                </div>
                <!-- container -->

            </form> <!-- content -->

            <%-include('partials/_footer.ejs')%>

        </div>

        <form class="modal fade" id="criarCidade" tabindex="-1" role="dialog" aria-hidden="true" method="post" action="/painel/fornecedor/cadastro/cidade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h4 class="modal-title" id="myCenterModalLabel">Criar cidade</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <form class="modal-body p-4">
                        <input type="text" placeholder="Digite aqui o nome da cidade que deseja criar" class="form-control" name="nome">
                        <input type="submit" value="Criar cidade" class="btn btn-success mt-3" style="float: right;">
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form><!-- /.modal -->

    </div>
    <!-- END wrapper -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- Vendor js -->
    <script src="/assets/js/vendor.min.js"></script>

    <script src="/assets/libs/jquery-mask-plugin/jquery.mask.min.js"></script>

    <script src="/assets/js/pages/form-masks.init.js"></script>

    <!-- Plugins js-->
    <script src="/assets/libs/flatpickr/flatpickr.min.js"></script>
    <!-- <script src="/assets/libs/apexcharts/apexcharts.min.js"></script> -->

    <script src="/assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- App js-->
    <script src="/assets/js/app.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>