<%-include('partials/_head.ejs')%>

<body class="loading" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <%-include('partials/_nav.ejs')  %>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <%-include('partials/_sideBar.ejs')%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page" id="veiculos">
            <div class="content">

                <!-- Start Content-->
                <form class="container-fluid" method="post" action="/painel/veiculo/cadastro">
                    <div class="row">
                        
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title"> Cadastro de veículos</h4>
                            </div>
                            <%-include('partials/_msg-sucesso.ejs')%>
                        </div>
                    </div> 
                    
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 com-xm-12">
                            <div class="form-group">
                                <label for="">Placa</label>
                                <input type="text" class="form-control" value="" name="placa" placeholder="Sete digitos" minlength="7" maxlength="7">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 com-xm-12">
                            <div class="form-group">
                                <label for="">Renavan</label>
                                <input type="text" class="form-control" name="renavan">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 com-xm-12">
                            <div class="form-group">
                                <label for="">Marca</label>
                                <input type="text" class="form-control" name="marca">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 com-xm-12">
                            <div class="form-group">
                                <label for="">Ano</label>
                                <input type="number" class="form-control" name="ano">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 com-xm-12">
                            <div class="form-group">
                                <label for="">Modelo</label>
                                <input type="text" class="form-control" name="modelo">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 com-xm-12">
                            <div class="form-group">
                                <label for="">Tipo</label>
                                <input type="text" name="tipo" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="">Nome do fornecedor</label>
                                <input type="text" class="form-control" name="nomeFornecedor">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="">Valor de compra</label>
                                <input placeholder="R$" type="text" class="form-control" name="valorCompra" id="valorCompra" data-toggle="input-mask" data-mask-format="000.000.000.000.000,00" data-mask-format="000.000.000.000.000,00" data-reverse="true" maxlength="22">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="">Valor de venda</label>
                                <input placeholder="R$" type="text" class="form-control" name="valorVenda" data-toggle="input-mask" data-mask-format="000.000.000.000.000,00">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="">Status</label>
                                <select name="status" id="" class="form-control">
                                    <option value="" selected disabled>Status</option>
                                    <option value="Locado">Locado</option>
                                    <option value="Pátio">Pátio</option>
                                    <option value="Vendido">Vendido</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-success" value="Cadastar Veículo">
                        </div>
                    </div>
                </form>
                <!-- container -->

            </div> <!-- content -->

            <%-include('partials/_footer.ejs')%>

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="/assets/js/vendor.min.js"></script>

    <!-- Plugins js -->
    <script src="/assets/libs/jquery-mask-plugin/jquery.mask.min.js"></script>

    <script src="/assets/libs/autonumeric/autoNumeric-min.js"></script>

    <!-- Init js-->
    <script src="/assets/js/pages/form-masks.init.js"></script>

    <!-- Plugins js-->
    <script src="/assets/libs/flatpickr/flatpickr.min.js"></script>
    <!-- <script src="/assets/libs/apexcharts/apexcharts.min.js"></script> -->

    <script src="/assets/libs/selectize/js/standalone/selectize.min.js"></script>


    <!-- App js-->
    <script src="/assets/js/app.min.js"></script>

    
    
</body>
</html>